@import "variable";

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: sans-serif;
}

.container {
  width: 100%;
  background: linear-gradient($bg-color 50%, $white-color 50%);
  display: flex;
}
.main-section {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4rem auto;
  background-color: $white-color;
  border-radius: 3rem;
  box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, .4);
}

.input-country{
  margin: 1.5rem;
  text-align: center;
  margin: 0 auto;
}

#input{
  background-color: $light-gray;
  border: none;
  border-radius: 10rem;
  padding: 1.5rem;
  outline: none;
  overflow: none;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: .1rem;
  margin-left: 2.5rem;
}

.search-btn{
  background-color: $light-gray;
  transform: translateX(-3.5rem);
  border: none;
  
}
#icon-search{
  outline: none;
  overflow: none;
  height: 2rem;
  width: 2rem;
}
.msg{
  display: block;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: red;
}


h2 {
  text-align: center;
  margin: 2rem auto;
  font-size: 3rem;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem 0;

}

.main-item {
  width: 30rem;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  color: $white-color;
  display: flex;
  flex-direction: column;
}

.main-item>i {
  font-size: 5rem;
}

.caption {
  text-transform: capitalize;
  font-size: 1.5rem;
  margin: .7rem 0;

}

.result-api {
  font-size: 3rem;
  font-style: bold;
}

.bg1 {
  background-color: $bg-item1;
}

.bg2 {
  background-color: $bg-item2;

}

.bg3 {
  background-color: $bg-item3;

} 
.bg4 {

  background-color: $bg-item4;
}

.bg5 {
  background-color: $bg-item5;

}

.bg6 {
  background-color: $bg-item6;

}